
@model Comic
<div class="" style="width: 100%;">
<div class="">
<form id="@Model.ComicID" asp-page="/MyCart" method="post">
<input type="hidden" asp-for="ComicID" />
<input type="hidden" name="returnUrl"
value="@ViewContext.HttpContext.Request.PathAndQuery()" /><div class="card-text p-1">
<button type="submit"
class="btn btn-info btn-sm pull-right">
Mua hàng
</button>
</div>
</form>
</div>
</div>