
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap');

:root {
    --Xanh:#0071af;
    --purple: #781DFF;
    --dark-color: #212291;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
        width: 1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}


section {
    padding: 5rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

    .heading::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: .01rem;
        background: rgba(0,0,0,.1);
        z-index: -1;
    }

    .heading span {
        font-size: 3rem;
        padding: .5rem 2rem;
        color: var(--black);
        background: #fff;
        border: var(--border);
    }

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--Xanh);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

    .btn:hover {
        background: var(--dark-color);
    }

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 3rem;
    font-weight: bolder;
    color:var(--black);
}

.header .header-1 .logo i{
    color:var(--purple);
    font-size:4rem;
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--Xanh);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--Xanh);
}
#search-btn{
    display: none;
}

.header .header-2{
    background:var(--Xanh);
}

.header .header-2 .nv{
    text-align: center;
}

.header .header-2 .nv a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .nv a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.bottom-navbar {
    text-align: center;
    background: var(--Xanh);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

    .bottom-navbar a {
        font-size: 2.5rem;
        padding: 2rem;
        color: #fff;
    }

        .bottom-navbar a:hover {
            background: var(--dark-color);
        }


.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

    .login-form-container.active {
        right: 0;
    }

    .login-form-container form {
        background: #fff;
        border: var(--border);
        width: 40rem;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        margin: 2rem;
    }

        .login-form-container form h3 {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: var(--black);
            text-align: center;
        }

        .login-form-container form span {
            display: block;
            font-size: 1.5rem;
            padding-top: 1rem;
        }

        .login-form-container form .box {
            width: 100%;
            margin: .7rem 0;
            font-size: 1.6rem;
            border: var(--border);
            border-radius: .5rem;
            padding: 1rem 1.2rem;
            color: var(--black);
            text-transform: none;
        }

        .login-form-container form .checkbox {
            display: flex;
            align-items: center;
            gap: .5rem;
            padding: 1rem 0;
        }

            .login-form-container form .checkbox label {
                font-size: 1.5rem;
                color: var(--light-color);
                cursor: pointer;
            }

        .login-form-container form .btn {
            text-align: center;
            width: 100%;
            margin: 1.5rem 0;
        }

        .login-form-container form p {
            padding-top: .8rem;
            color: var(--light-color);
            font-size: 1.5rem;
        }

            .login-form-container form p a {
                color: var(--Xanh);
                text-decoration: underline;
            }

    .login-form-container #close-login-btn {
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        font-size: 5rem;
        color: var(--black);
        cursor: pointer;
    }



.home {
    background: url(banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

    .home .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

        .home .row .content {
            flex: 1 1 42rem;
        }

        .home .row .books-slider {
            flex: 1 1 42rem;
            text-align: center;
            margin-top: 2rem;
        }

            .home .row .books-slider a img {
                height: 25rem;
            }

            .home .row .books-slider a:hover img {
                transform: scale(.9);
            }

            .home .row .books-slider .stand {
                width: 100%;
                margin-top: -2rem;
            }

        .home .row .content h3 {
            color: var(--black);
            font-size: 4.5rem;
        }

        .home .row .content p {
            color: var(--light-color);
            font-size: 1.4rem;
            line-height: 2;
            padding: 1rem 0;
        }









@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .header .header-2 {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }

    #search-btn {
        display: inline-block;
    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

        .header .header-1 .search-form {
            position: absolute;
            top: -115%;
            right: 2rem;
            width: 90%;
            box-shadow: var(--box-shadow);
        }

            .header .header-1 .search-form.active {
                top: 115%;
            }

    .home .row .content {
        text-align: center;
    }

        .home .row .content h3 {
            font-size: 3.5rem;
        }

    .newsletter {
        background-position: right;
    }

        .newsletter form {
            margin-left: 0;
            max-width: 100%;
        }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}




footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    footer .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
        /*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
        footer .container .noi-dung {
            margin-right: 30px;
        }

            footer .container .noi-dung.about {
                width: 40%;
            }

                footer .container .noi-dung.about h2 {
                    position: relative;
                    color: #fff;
                    font-weight: 500;
                    margin-bottom: 15px;
                }

                    footer .container .noi-dung.about h2:before {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 50px;
                        height: 2px;
                        background: #f00;
                    }

                footer .container .noi-dung.about p {
                    color: #fff;
                }
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon {
    margin-top: 20px;
    display: flex;
}

    .social-icon li {
        list-style: none;
    }

        .social-icon li a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            text-decoration: none;
            border-radius: 4px;
        }

            .social-icon li a:hover {
                background: #f00;
            }

            .social-icon li a .fa {
                color: #fff;
                font-size: 20px;
            }

.links h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}










